.form-main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ebebeb;
	height: 100vh;
}

.form-title {
	font-family: 'Rubik', sans-serif;
	color: #ff9f1c;
}

.form-container {
	display: flex;
}

.form-left-container {
	display: flex;
	flex-direction: column;
	margin: 0 5rem;
}

.form-right-container {
	display: flex;
	flex-direction: column;
	margin: 0 5rem;
}

.form-left-container input {
	padding: 0 0.5rem;
	height: 6vh;
	width: 20vw;
	border-radius: 10px;
	margin-bottom: 1rem;
}

.form-left-container textarea {
	padding: 1rem 0.5rem;
	height: 8vh;
	width: 20vw;
	border-radius: 5px;
	margin-bottom: 1rem;
}

.form-buttons {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.form-diets {
	display: flex;
	flex-direction: column;
	font-family: 'Poppins';
}

.form-diets label {
	margin: 0.3rem 0;
}

.btn-create {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	background-color: #2ec4b5;
	border-radius: 10px;
	cursor: pointer;
	color: #ffffff;
	font-size: 1.2em;
	width: 12vw;
	height: 7vh;
	margin-left: 3rem;
}

.btn-create:hover {
	background-color: #cbf3f0;
	color: #2ec4b5;
}

.btn-reset {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	background-color: #ff9f1c;
	border-radius: 10px;
	cursor: pointer;
	color: #ffffff;
	font-size: 1.2em;
	width: 12vw;
	height: 7vh;
}

.btn-reset:hover {
	background-color: #ffbf69;
	color: #ebebeb;
}

p.danger {
	font-family: 'Poppins';
	color: #f55c47;
	text-align: center;
	margin: 0;
}

p.pass {
	display:  none;
}

input.danger {
	border: 2px solid #f55c47;
}

textarea.danger {
	border: 2px solid #f55c47;
}
